<div class="director-container">
    <div class="name">
        <p>s Q e e Z</p>
    </div>
    <div class="stats">
        <div>
            <div>2</div>
            <div class="caption">&nbsp;goals</div>
        </div>
        <div>
            <div>1</div>
            <div class="caption">&nbsp;assists</div>
        </div>
        <div>
            <div>7</div>
            <div class="caption">&nbsp;saves</div>
        </div>
        <div>
            <div>11</div>
            <div class="caption">&nbsp;shots</div>
        </div>
    </div>
</div>