.boost-container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 250px;
    width: 250px;
    border-radius: 250px;
    transform: translateX(127px) translateY(127px);
    animation: background-change 3s infinite;

    border: 2px solid #282f39;
}

.inner-boost {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    transform: translateX(100px) translateY(100px);
    background: radial-gradient(#303f55, #202020);
    border: 2px solid #282f39;
    .boost {
        padding: 45px;
        color: white;
        font-size: 40px;
        border-radius: 200px;
    }
}

.director-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(1920px * 0.275);
    height: 75px;
    transform: skew(-10deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom left, #303f55, #202020);
    color: white;
    font-size: 25px;
}

.name {
    height: calc(50% - 5px);
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px solid var(--color);
    p {
        margin-top: 2px;
        transform: skew(10deg);
        padding-left: 5%;
    }
}

.stats {
    height: 50%;
    width: 78%;
    display: flex;
    justify-content: space-evenly;
    background: #202020;
    div {
        display: flex;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .caption {
        color: grey;
        font-size: 20px;
    }
}

@keyframes background-change {
    0% {
        background: conic-gradient(var(--color) var(--boost), #202020 0%);
    }
    100% {
        background: conic-gradient(var(--color) var(--boost), #202020 0%);
    }
}