<div class="director-container" style="--color: {{ activeColor }}">
    <div class="name">
        <p>{{ target[0].name }}</p>
    </div>
    <div class="stats">
        <div>
            <div>{{ target[0].goals }}</div>
            <div class="caption">&nbsp;Goals</div>
        </div>
        <div>
            <div>{{ target[0].assists }}</div>
            <div class="caption">&nbsp;Assists</div>
        </div>
        <div>
            <div>{{ target[0].saves }}</div>
            <div class="caption">&nbsp;Saves</div>
        </div>
        <div>
            <div>{{ target[0].shots }}</div>
            <div class="caption">&nbsp;Shots</div>
        </div>
    </div>
</div>
<div class="boost-container" style="--boost: {{ targetBoost }}; --color: {{ activeColor }}"></div>
<div class="inner-boost">
    <div class="boost">{{ target[0].boost }}</div>
</div>