<div class="team-container team-left">
    <div class="players">
        <div class="player" *ngFor="let player of players[0]">
            <div class="information">
                <div class="name">
                    {{ player.name }}
                </div>
                <div class="boost">
                    {{ player.boost }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-container team-right">
    <div class="players">
        <div class="player" *ngFor="let player of players[1]">
            <div class="information">
                <div class="name">
                    {{ player.name }}
                </div>
                <div class="boost">
                    {{ player.boost }}
                </div>
            </div>
        </div>
    </div>
</div>