.team-container {
    position: absolute;
    height: 130px;
    width: calc(1920px * 0.15);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.team-left {
    transform: skew(10deg) translateX(-325px);
    background: linear-gradient(to bottom left, #303f55, #202020);
    .players {
        transform: skew(-10deg);
    }
    .boost {
        text-align: right;
    }
    animation: move-left 1s ease forwards 0.5s;
}

.team-right {
    right: 0;
    transform: skew(10deg) translateX(325px);
    background: linear-gradient(to bottom right, #303f55, #202020);
    .players {
        transform: skew(10deg);
        .name {
            text-align: right;
        }
    }
    animation: move-right 1s ease forwards 0.5s;
}

.players {
    width: 80%;
    height: 90%;
    .player {
        height: 33.33%;
        width: 100%;
        color: white;
        .information {
            width: 100%;
            height: 70%;
            display: flex;
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 20px;
            }
            .name {
                width: 85%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: var(--name-size) !important;
            }
            .boost {
                width: 15%;
            }
        }
        .boost-bar {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.statfeed-container {
    position: absolute;
    height: 130px;
    width: calc(1920px * 0.17);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.statfeed-left {
    transform: skew(10deg);
    .event {
        justify-content: right;
        padding-right: 0.5rem;
        background: linear-gradient(to right, transparent 30%, var(--team-color));
        opacity: 0.95;
        transform: translateX(100px);
        animation: event-left 0.8s ease-in-out forwards;
        img {
            transform: skew(-10deg);
        }
    }
}

.statfeed-right {
    right: 0;
    transform: skew(-10deg);
    .event {
        justify-content: left;
        padding-left: 0.35rem;
        background: linear-gradient(to left, transparent 30%, var(--team-color));
        opacity: 0.95;
        transform: translateX(-100px);
        animation: event-right 0.8s ease-in-out forwards;
        img {
            transform: skew(10deg);
        }
    }
}

.statfeed {
    height: 33.33%;
    width: 100%;
    color: white;
    .event {
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 3px;
    }
}


 :host ::ng-deep {
    mat-progress-bar {
        background-color: black;
    }

    .mdc-linear-progress__bar-inner {
        border-color: var(--slider-color);
    }
}

@keyframes move-left {
    0% {
        transform: skew(10deg) translateX(-325px);
    }
    100% {
        transform: skew(10deg) translateX(-15px);
    }
}

@keyframes move-right {
    0% {
        transform: skew(10deg) translateX(325px);
    }
    100% {
        transform: skew(-10deg) translateX(15px);
    }
}

@keyframes event-left {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes event-right {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}