<div class="match-overview-container">
    <div class="game-stats">
        <div class="scoreboard">
            <div class="header">
                <span *ngFor="let player of players[0]">{{ player.name }}</span>
                <span>vs.</span>
                <span *ngFor="let player of players[1]">{{ player.name }}</span>
            </div>
            <ng-container *ngFor="let key of keys">
                <hr>
                <div class="row">
                    <span *ngFor="let player of players[0]">{{ player[key] }}</span>
                    <span>{{ key }}</span>
                    <span *ngFor="let player of players[1]">{{ player[key] }}</span>
                </div>
            </ng-container>
            <ng-container>
                <hr>
                <div class="row">
                    <span *ngFor="let player of players[0]">{{ player.boostConsumption }}</span>
                    <span>BOOST</span>
                    <span *ngFor="let player of players[1]">{{ player.boostConsumption }}</span>
                </div>
            </ng-container>
            <ng-container>
                <hr>
                <div class="row">
                    <span *ngFor="let player of players[0]">{{ player.speed / player.ticks }}</span>
                    <span>SPEED</span>
                    <span *ngFor="let player of players[1]">{{ player.speed / player.ticks}}</span>
                </div>
            </ng-container>
        </div>
    </div>
</div>