.match-overview-container {
    position: absolute;
    padding-top: 14vh;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/images/match-overview-bg.png');
}

.game-stats {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.25rem;
    color: white;
    .scoreboard {
        width: 90%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .header {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            font-weight: bolder;
            span:nth-child(4) {
                font-style: italic;
            }
        }
        .row {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            span {
                transform: translateY(12px);
            }
            span:nth-child(4) {
                border-image: linear-gradient(to right, transparent 7.5%, var(--color-left) 7.5%, var(--color-left) var(--average), var(--color-right) var(--average), var(--color-right) 92.5%, transparent 92.5%);
                border-bottom: 15px solid;
                border-image-slice: 1;
                padding-bottom: 5px;
                transform: translateY(0);
                font-style: italic;
            }
            img {
                height: 2.5rem;
                width: auto;
                transform: translateY(0.25rem);
            }
        }
        span {
            width: 100%;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
        }
        hr {
            margin: 0;
            border: 2px solid black;
        }
    }
}