.score-bug-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(1920px * 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.league-information {
    height: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    background: #202020;
    color: orange;
    font-size: 15px;
}

.score-bug {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right, transparent 10%, orange 10%, orange 50%, green 50%, green 90%, transparent 90%);
    .time {
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        background: radial-gradient(#303f55, #202020);
        font-size: 40px;
        font-weight: bold;
    }
    .score {
        height: 100%;
        width: 7.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 50px;
    }
    .score-left {
        background: orange;
    }
    .score-right {
        background: green;
    }
    .team {
        width: 30%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: white;
        font-size: 45px;
        padding: 0 25px;
        p {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 3px;
        }
    }
    .team-left {
        transform: skew(10deg);
        transform-origin: left bottom;
        background: linear-gradient(to bottom left, #303f55, #202020, orange);
        border: 7px solid orange;
        border-right-width: 0;
        text-align: left;
        p {
            transform: skew(-10deg);
        }
    }
    .team-right {
        transform: skew(-10deg);
        transform-origin: right bottom;
        background: linear-gradient(to bottom right, #303f55, #202020, green);
        border: 7px solid green;
        border-left-width: 0;
        text-align: right;
        p {
            transform: skew(10deg);
        }
    }
    .logo {
        z-index: -1;
        height: 100%;
        width: 12.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to top, #303f55, #202020);
        img {
            max-width: 95%;
            max-height: 95%;
            width: auto;
            height: auto;
            object-fit: contain;
            align-self: center;
        }
    }
    .logo-left {
        transform: skew(10deg);
        img {
            transform: skew(-10deg);
        }
    }
    .logo-right {
        transform: skew(-10deg);
        img {
            transform: skew(10deg);
        }
    }
}

.series {
    height: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 35%;
    background: linear-gradient(to top, #303f55, #202020);
    border-radius: 5px;
    .series-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 127px;
        color: orange;
        font-size: 15px;
    }
    .wins {
        height: 100%;
        width: 132px;
        display: flex;
        justify-content: space-between;
        padding-left: 2px;
        padding-right: 2px;
        .win {
            margin-top: 2px;
            height: 12px;
            width: calc((132px - 4 * 10px) / 3);
            border-radius: 5px;
        }
    }
}