<div class="score-bug-container">
    <div class="league-information">
        Nitro League Division 2.3 | Woche 3
    </div>
    <div class="score-bug">
        <div class="logo logo-left">
            <img src="assets/images/team-left.png">
        </div>
        <div class="team team-left">
            <p>3DG Trinity</p>
        </div>
        <div class="time">
            00:00
        </div>
        <div class="team team-right">
            <p>3DG Vision</p>
        </div>
        <div class="logo logo-right">
            <img src="assets/images/team-right.png">
        </div>
    </div>
</div>