<div class="spacer">
    <div class="spacer-left"></div>
    <div class="spacer-right"></div>
</div>
<div class="score-bug-container">
    <div class="score-bug">
        <div class="logo logo-left">
            <img src="assets/images/team-left.png">
        </div>
        <div class="team team-left">
            <p>Team Bash</p>
        </div>
        <div class="score score-left">
            10
        </div>
        <div class="time">
            4:59
        </div>
        <div class="score score-right">
            3
        </div>
        <div class="team team-right">
            <p>3DG Vision</p>
        </div>
        <div class="logo logo-right">
            <img src="assets/images/team-right.png">
        </div>
    </div>
    <div class="series">
        <div class="wins wins-left">
            <div class="win"></div>
            <div class="win"></div>
            <div class="win"></div>
        </div>
        <div class="series-information">Nitro League Division 2.3 - Woche 3</div>
        <div class="wins wins-right">
            <div class="win"></div>
            <div class="win"></div>
            <div class="win"></div>
        </div>
    </div>
</div>