<div class="score-bug-container">
    <div class="league-information">
        Nitro League Division 2.3 - Woche 3
    </div>
    <div class="score-bug">
        <div class="logo logo-left">
            <img src="assets/images/team-left.png">
        </div>
        <div class="team team-left">
            <p>3DG Trinity</p>
        </div>
        <div class="score score-left">
            10
        </div>
        <div class="time">
            4:59
        </div>
        <div class="score score-right">
            3
        </div>
        <div class="team team-right">
            <p>3DG Vision</p>
        </div>
        <div class="logo logo-right">
            <img src="assets/images/team-right.png">
        </div>
    </div>
    <div class="series">
        <div class="wins wins-left">
            <div class="win" style="border: 2px solid blue;"></div>
            <div class="win" style="border: 2px solid blue;"></div>
            <div class="win" style="border: 2px solid blue;"></div>
        </div>
        <div class="series-information">BO5 - Spiel 1</div>
        <div class="wins wins-right">
            <div class="win" style="border: 2px solid green;"></div>
            <div class="win" style="border: 2px solid green;"></div>
            <div class="win" style="border: 2px solid green;"></div>
        </div>
    </div>
</div>