:root {
    --series-length: #{seriesLength};
}

.spacer {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 4px;
    .spacer-left {
        width: 528px;
        transform: skew(10deg) translateX(2.5px);
        background: #202020;
    }
    .spacer-right {
        width: 528px;
        transform: skew(-10deg) translateX(-2.5px);
        background: #202020;
    }
}

.score-bug-container {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(1920px * 0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score-bug {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    .time {
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        background: radial-gradient(#303f55, #202020);
        font-size: 50px;
        font-weight: bold;
        p {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 10px;
        }
    }
    .score {
        z-index: 5;
        height: 100%;
        width: 9%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 60px;
        background: var(--team-color);
        p {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 5px;
        }
    }
    .team {
        width: calc(35% + 30px);
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: white;
        font-size: 50px;
        padding: 0 25px;
        border: 7px solid var(--team-color);
        p {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 5px;
        }
    }
    .team-left {
        transform: skew(10deg) translateX(15px);
        transform-origin: left bottom;
        background: linear-gradient(to bottom left, #303f55, #202020, var(--team-color));
        border-right-width: 0;
        text-align: left;
        p {
            transform: skew(-10deg);
        }
    }
    .team-right {
        transform: skew(-10deg) translateX(-15px);
        transform-origin: right bottom;
        background: linear-gradient(to bottom right, #303f55, #202020, var(--team-color));
        border-left-width: 0;
        text-align: right;
        p {
            transform: skew(10deg);
        }
    }
    .logo {
        z-index: -1;
        height: 100%;
        width: 12.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to top, #303f55, #202020);
        img {
            max-width: 95%;
            max-height: 95%;
            width: auto;
            height: auto;
            object-fit: contain;
            align-self: center;
        }
    }
    .logo-left {
        transform: skew(10deg) translateX(10px);
        img {
            transform: skew(-10deg) translateY(-3px);
        }
    }
    .logo-right {
        transform: skew(-10deg) translateX(-10px);
        img {
            transform: skew(10deg) translateY(-3px);
        }
    }
}

.series {
    height: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 82%;
    .match-information {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        height: calc(100% - 2px);
        width: 300px;
        color: orange;
        font-size: 15px;
        background: #202020;
        border: 1px solid #202020;
    }
    .wins {
        height: calc(100% - 2px);
        width: calc((100% - 200px) / 2);
        display: flex;
        justify-content: space-evenly;
        padding-left: 2px;
        padding-right: 2px;
        background: #202020;
        border: 1px solid #202020;
        .win {
            margin-top: 5px;
            height: 8px;
            width: calc((100% - ((var(--series-length) + 1) * 10px)) / var(--series-length));
            background: var(--win-bg);
        }
    }
    .wins-left {
        transform: skew(10deg) translateX(10px);
        .win {
            transform: skew(-10deg);
        }
    }
    .wins-right {
        transform: skew(-10deg) translateX(-10px);
        .win {
            transform: skew(10deg);
        }
    }
}