<div class="replay-container">
    <div class="label">
        <div class="replay">
            <div class="dot"></div>
            <div>Replay</div>
        </div>
    </div>
    <div class="goal-information">
        <div>
            <img src="assets/images/icons/goal.png">
            <div>s Q e e Z</div>
        </div>
        <div>
            <img src="assets/images/icons/assist.png">
            <div>Stee_</div>
        </div>
        <div>
            <img src="assets/images/icons/goal-speed.png">
            <div>123km/h</div>
        </div>
    </div>
</div>