<div class="replay-container">
    <div class="label">
        <div class="replay">
            <div class="dot"></div>
            <div>Replay</div>
        </div>
    </div>
    <div class="goal-information">
        <div>
            <img src="assets/images/icons/goal.png">
            <div>{{ goal.scorer }}</div>
        </div>
        <div *ngIf="goal.assistant">
            <img src=" assets/images/icons/assist.png ">
            <div>{{ goal.assistant }}</div>
        </div>
        <div>
            <img src="assets/images/icons/goal-speed.png ">
            <div>{{ goal.speed }}</div>
        </div>
    </div>
</div>