.map-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 196px;
    height: 250px;
    margin: 2rem;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: inset 0 0 7.5px rgba(255, 255, 255, 0.7);
    background: linear-gradient(rgba(48, 63, 84, 0.9), rgba(48, 63, 84, 0.9)) padding-box, linear-gradient(to top, var(--color-bottom), var(--color-top)) border-box;
}

.map-container::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: translateY(-50%);
    background-color: white;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    transform: translate(-50%, -50%);
}

.penalty-area {
    position: absolute;
    width: 80px;
    height: 40px;
    border-radius: 10px 10px 0 0;
    border: 1px solid white;
    border-bottom: 0px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
}

.penalty-area.top {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    background: calc(parseInt(var(--color-top), 16) + parseInt("b3", 16));
}

.penalty-area.bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: calc(parseInt(var(--color-bottom), 16) + parseInt("b3", 16));
}

.player-circle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
}