.map-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 319px;
    margin: 2rem;
    border-radius: 10px;
    border: 2px solid transparent;
    background: linear-gradient(rgba(15, 35, 65, 0.9), rgba(15, 35, 65, 0.9)) padding-box, linear-gradient(to top, var(--color-bottom), var(--color-top)) border-box;
}

.map-container::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
    background-color: lightgray;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid lightgray;
    transform: translate(-50%, -50%);
}

.penalty-area {
    position: absolute;
    width: 80px;
    height: 40px;
    border-radius: 10px 10px 0 0;
    border: 1px solid darkgrey;
    border-bottom: 0px;
}

.penalty-area.top {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    background: var(--color-opacity-top);
}

.penalty-area.bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 2px);
    background: var(--color-opacity-bottom);
}

.player-circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #000;
}

.ball-circle {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #000;
}