<div class="control-panel-container">
    <div class="header">
        <div><p>&nbsp;&nbsp;Control-Panel</p></div>
        <div><p>Made by&nbsp;</p><p class="author">s Q e e Z</p>&nbsp;&nbsp;</div>
    </div>
    <div class="content">
        <div class="game">
            <div class="series-info">
                <p>Series Info:</p>
                <input type="text"  [(ngModel)]="seriesInfo">
            </div>
            <div class="series">
                <div class="best-of">
                    <p>Best of:</p>
                    <select matNativeControl [(ngModel)]="seriesLength">
                        <option value=2>Bo3</option>
                        <option value=3>Bo5</option>
                        <option value=4>Bo7</option>
                        <option value=5>Bo9</option>
                    </select>
                </div>
                <br>
                <div class="series-score">
                    <select matNativeControl [(ngModel)]="seriesLeft">
                        <option value=0>0</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                    <p>{{ names[0] }} : {{ names[1] }}</p>
                    <select matNativeControl [(ngModel)]="seriesRight">
                        <option value=0>0</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                </div>
            </div>
            <div class="update">
                <button mat-fab style="background-color: lightgreen; color: black" (click)="updateSeries()"><mat-icon>done</mat-icon></button>
                <button mat-fab style="background-color: yellow; color: black" (click)="resetSeries()"><mat-icon>fiber_new</mat-icon></button>
            </div>
        </div>
        <div class="teams">
            <div class="update">
                <button mat-fab style="background-color: lightgreen; color: black" (click)="updateTeams()"><mat-icon>done</mat-icon></button>
                <button mat-fab style="background-color: salmon; color: black" (click)="clearTeams()"><mat-icon>delete</mat-icon></button>
            </div>
            <div class="teams-info">

            </div>
            <div class="logo-upload">
                <div class="logo logo-left">
                    <input type="file" (change)="onFileSelected($event, 0)" *ngIf="logoLeft === null">
                    <div class="preview" *ngIf="logoLeft !== null">
                        <img [src]="logoLeft">
                        <div>
                            <button mat-fab style="background-color: salmon; color: black" (click)="removeLogo(0)"><mat-icon>delete</mat-icon></button>  
                        </div>
                    </div>
                </div>
                <div class="logo logo-right">
                    <input type="file" (change)="onFileSelected($event, 1)" *ngIf="logoRight === null">
                    <div class="preview" *ngIf="logoRight !== null">
                        <div>
                            <button mat-fab style="background-color: salmon; color: black" (click)="removeLogo(1)"><mat-icon>delete</mat-icon></button>  
                        </div>
                        <img [src]="logoRight">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>